In [1]:
import pandas as pd
import numpy as np
import json
import os

In [2]:
agg_insurance = 'data/aggregated/insurance/country/india/state'
agg_insurance_list =[]
states = os.listdir(agg_insurance)
for state in states:
    years = os.listdir(agg_insurance+"/"+state)
    for year in years:
        files = os.listdir(agg_insurance+"/"+state+"/"+year)
        for file in files:
            json_file = open(agg_insurance + "/"+state + "/" +year+"/"+file,'r')
            json_data = json.load(json_file)
            for values in json_data['data']['transactionData']:
                data = dict(
                    
                    policies_purchased = values['paymentInstruments'][0]['count'],
                    premium_value = values['paymentInstruments'][0]['amount'],
                    year = year, state = state, quarter = file[0]
                )
                agg_insurance_list.append(data)

In [3]:
agg_transaction = 'data/aggregated/transaction/country/india/state'
agg_transaction_list =[]
states = os.listdir(agg_transaction)
for state in states:
    years = os.listdir(agg_transaction+"/"+state)
    for year in years:
        files = os.listdir(agg_transaction+"/"+state+"/"+year)
        for file in files:
            json_file = open(agg_transaction + "/"+state + "/" +year+"/"+file,'r')
            json_data = json.load(json_file)
            for values in json_data['data']['transactionData']:
                data = dict(
                    
                    categories = values['name'],
                    all_transactions = values['paymentInstruments'][0]['count'],
                    payment_value = values['paymentInstruments'][0]['amount'],
                    year = year, state = state, quarter = file[0]

                )
                agg_transaction_list.append(data)

agg_transaction_df = pd.DataFrame(agg_transaction_list)
agg_insurance_df = pd.DataFrame(agg_insurance_list)
agg_transaction_df

,categories,all_transactions,payment_value,year,state,quarter
0,Peer-to-peer payments,342649,1.682329e+09,2022,andaman-&-nicobar-islands,1
1,Merchant payments,284298,3.700916e+08,2022,andaman-&-nicobar-islands,1
2,Recharge & bill payments,163401,7.130013e+07,2022,andaman-&-nicobar-islands,1
3,Financial Services,1757,2.869682e+06,2022,andaman-&-nicobar-islands,1
4,Others,2643,2.440322e+06,2022,andaman-&-nicobar-islands,1
...,...,...,...,...,...,...
4489,Recharge & bill payments,72881,1.661551e+07,2018,nagaland,4
4490,Peer-to-peer payments,53723,3.589263e+08,2018,nagaland,4
4491,Merchant payments,10350,1.050063e+07,2018,nagaland,4
4492,Financial Services,587,2.161274e+05,2018,nagaland,4
4493,Others,1792,1.754940e+06,2018,nagaland,4

In [4]:
agg_insurance_df

,policies_purchased,premium_value,year,state,quarter
0,768,1131287.0,2022,andaman-&-nicobar-islands,1
1,501,779740.0,2022,andaman-&-nicobar-islands,2
2,643,902466.0,2022,andaman-&-nicobar-islands,3
3,901,1441210.0,2022,andaman-&-nicobar-islands,4
4,1371,1964556.0,2024,andaman-&-nicobar-islands,1
...,...,...,...,...,...
569,91,123643.0,2021,nagaland,3
570,183,341424.0,2021,nagaland,4
571,41,9791.0,2020,nagaland,2
572,89,20798.0,2020,nagaland,3
573,62,38836.0,2020,nagaland,4